/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}


body .section:nth-child(2n + 0){
  background-color: silver;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
}

.logo span:last-child{
  font-weight: 400;
  color: gray;
  padding-left: 0.25rem;
}

header nav ul li {
  display: inline;
  padding-left: 1rem;
  color: gray;
  /*border: 1px dashed black;*/
}

header nav ul li:last-child {
  padding-right: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 480px){
   .logo h2{
     display: none;
   }
   header ul{
     display: none;
   }
}

/* Banner */

#banner {
  display: flex;
}

#banner .box:first-child {
  width: 60%;
}

#banner img {
  width: 90%;
  padding: 2.0rem 1.5rem;
}

#banner .box:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner p {
  width: 36%;
  text-align: center;
  color: white;
  background-color: black;
  padding: 0.5rem;
}

@media only screen and (max-width: 480px){
  #banner {
    flex-direction: column;
  }
  #banner .box:first-child {
    width: 100%;
  }
  #banner h1,h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #banner img {
    padding: 0;
    width: 100%;
    height: auto;
  }
  #banner .box:last-child {
    align-items: center;
  }
  #banner p {
    width: 85%;

  }
}

/* Jumbotron */

#jumbotron {
  display: flex;
}

/*Style left side*/

#jumbotron .container:first-child {
  width: 60%;
}

#jumbotron .container:first-child img {
  width: 90%;
  padding: 2.0rem 1.5rem;
}

#jumbotron .container:first-child h1 {
  margin: 2.0rem 1.5rem 1.5rem 1.5rem;
}

#jumbotron .container:first-child p {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#jumbotron .container:first-child p:last-child {
  margin-bottom: 2.0rem;
}

/* Style right side*/

#jumbotron .container:last-child {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid silver;
}

#jumbotron .container .box {
  display: flex;
  border: 1px solid silver;
  padding: 1rem;
}

#jumbotron .container .box div:first-child {
  width: 35%;
}

#jumbotron .container .box div img {
  width: 100%;
  height: auto;
}

#jumbotron .container .box div:last-child {
  width: 65%;
  padding-left: 1rem;
}

#jumbotron .container .box:last-child {
  background-color: silver;
}

#jumbotron .container .box p:last-child {
  color: rgb(87, 146, 242);
}

#jumbotron .mobile {
  display: none;
}

@media only screen and (max-width: 480px){
  #jumbotron .container:first-child{
    display: none;
  }
  #jumbotron .desktop {
    display: none;
  }
  #jumbotron .mobile {
    display: inline-block;
  }
  #jumbotron .container:last-child {
    width: 100%;
  }
  #jumbotron .container .box {
    flex-direction: column;
    border: none;
  }
  #jumbotron .container .box div:first-child {
    width: 100%;
  }
  #jumbotron .container .box:last-child {
    background-color: white;
  }
}

/* Courses */

#courses {
  border: 1px solid silver;
}

#courses h1 {
  padding: 2rem 0rem;
  text-align: center;
}

#courses .container {
  margin: 0rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

#courses .box {
  background-color: white;
  flex: 1 1 25%; /* fiddle with baseline percentage to get 3x3 alignment! */
  margin: 2rem;
}

#courses .container .box div img {
  width: 100%;
  height: auto;
}

#courses .box h2 {
  padding: 1rem 1rem 0.5rem 1rem;
}

#courses .box p {
  color: gray;
  padding: 0.5rem 1rem;
}

#courses .box p:last-child {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 480px){

}

/* Theses */

#theses {
  display:flex;
  flex-direction: column;
}

#theses h1 {
  text-align: center;
  padding: 2rem 0rem;
}

#theses .content {
  display: flex;
}

/* Style Left Side */

#theses .container:first-child {
  width: 60%;
  padding: 2.0rem 1.5rem;
}

#theses .container video {
  width: 100%;
  height: auto;

}

/* Style Right Side */

#theses .container:last-child {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#theses .container .box {
  display: flex;
  padding: 1rem;
}

#theses .container .box div:first-child {
  width: 35%;
}

#theses .container .box div img {
  width: 100%;
  height: auto;
}

#theses .container .box div:last-child {
  width: 65%;
  padding-left: 1rem;
}

#theses .container .box:first-child {
  background-color: silver;
}

@media only screen and (max-width: 480px){

}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

footer nav {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

footer a {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 480px){

}
